@import url('https://fonts.cdnfonts.com/css/seven-segment');
@font-face {
    font-family: 'Magenta';
    src: url(fonts/Magenta_BBT.ttf) format('truetype');
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display {
    font-family: 'Seven Segment', monospace, sans-serif;
    font-size: 80px;
    background-color: #8F9779;
    text-align: right;
    min-width: 530px;
    padding: 10px;
    margin: 0 30px 20px;
    border-radius: 4px;
}
.casing {
    background-color: #36454f;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    min-height: 700px;
    border: 6px #29343c outset;
}
.banner {
    font-family: 'Magenta', Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    margin: 0px 30px 0px;
}
.clear {
    color: white;
    background-color: #007FFF;
    width: 80px;
    height: 60px;
    border-color: #005ebc;
}

#equals {
    background-color: orange;
    flex-grow: 2;
    width: 160px;
    height: 80px;
    border-color: rgb(178, 116, 0);
    margin-left: 30px;
}
.number, #decimal {
    background-color: white;
    width: 80px;
    height: 80px;
    border-color: rgb(196, 196, 196);
}
.operator, .special {
    background-color: darkgray;
    width: 80px;
    height: 80px;
    border-color: rgb(125, 125, 125);
}
button {
    font-family: 'Gill Sans', 'Helvetica', sans-serif;
    font-size: xx-large;
    text-align: center;
    border-radius: 6px;
    border: 3px;
    border-style: outset;
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
}
button:active {
    border-style: inset;
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    flex-grow: 1;
    height: 100px;
    align-items: center;
    
}
#btn0 {
    width: 160px;
    margin-right: 30px;
}
#backspace, #negative {
    height: 60px;
}
#times, #plus, #minus {
    width: 160px;
    margin-left: 30px;
}